.nav {
    display: flex;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.navItems {
    font-weight: 600;
    color: #0A2640;
    font-family: Open Sans;
    line-height: 28px;
}